<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="onSubmit(forma)" novalidate="" #forma="ngForm">



    <div class="form-group row" [ngClass]="{'text-danger': nombre.errors?.minlength || nombre.errors?.required }">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">

            <input class="form-control form-control-danger" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" required minlength="3" #nombre="ngModel">

            <div *ngIf="nombre.errors?.required" class="">
                Este campo es requerido
            </div>

            <div *ngIf="nombre.errors?.minlength" class="form-control text-danger">
                Este campo es requiere 5 caracteres
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">

            <input class="form-control " type="text" placeholder="Apellido" name="apellido" [(ngModel)]="usuario.apellido" required minlength="3" #apellido="ngModel">
            <div *ngIf="apellido.errors?.required" class="text-danger">
                Este campo es requerido
            </div>

        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" [value]="correo" name="correo" [(ngModel)]="usuario.correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #correo="ngModel">
            <div *ngIf="correo.errors?.pattern" class="text-danger">
                No es formato de correo
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-8">
            <select [(ngModel)]="usuario.pais" class="form-control" name="pais">
              <option value="">Seleccione un pais</option>
              <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Sexo:</label>
        <div class="custom-control custom-radio custom-control-inline" *ngFor="let s of sexos">

            <input [(ngModel)]="usuario.sexo" type="radio" id="{{ s }}" [value]="s" name="sexo" class="custom-control-input">
            <label class="custom-control-label" for="{{s}}">{{s}}</label>

        </div>
    </div>








    <!-- <div class="custom-control custom-radio custom-control-inline">
        <input ([ngModel])="usuario.sexo" type="radio" id="customRadioInline1" value="mujer" name="sexo" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Mujer</label>
    </div>

    <div class="custom-control custom-radio custom-control-inline">
        <input ([ngModel])="usuario.sexo" type="radio" id="customRadioInline1" value="hombre" name="sexo" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Hombre</label>
    </div> -->






    <div class="form-group row">
        <label class="col-2 col-form-label"></label>
        <div class="input-group col-md-8">
            <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
              Guardar submit
            </button>
        </div>
    </div>

    <div class="form-group row">

        <div class="custom-control custom-radio custom-control-inline">
            <div class="custom-control custom-checkbox">
                <input [(ngModel)]="usuario.acepta" name="acepta" type="checkbox" class="custom-control-input" id="customCheck1" required>
                <label class="custom-control-label" for="customCheck1">Acepto las condiciones</label>
            </div>
        </div>
    </div>




</form>

<pre>

  {{usuario | json}}

</pre>